<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>

        <!-- Azure Media Services Configurations -->
        <add key="MediaServicesAccountName" value="AMS Account Name"/>
        <add key="MediaServicesAccountKey" value="AMS Account Key"/>

        <!-- Authorization Policy Configurations -->
        <add key="IsTokenRestricted" value="true"/>
        <add key="AuthPolicyWithNameContentKeyCommon" value="ContentKey CENC ToeknAuthorization Policy 1"/>
        <add key="AuthPolicyWithNameContentKeyCommonCBC" value="ContentKey CENCcbcs TokenAuthorization Policy 1"/>

        <!-- Authorization Policy Token Configurations -->
        <add key="IsTokenTypeJWT" value="true"/> <!-- JWT = true, SWT = false -->
        <add key="TokenIssuer" value="Issuer URI"/>
        <add key="TokenAudience" value="Audience URI"/>
        <add key="TokenVerifySymKeyB64" value="Verification Symmetric Key Base64"/>
        <add key="EnableKidClaim" value="false"/>

        <!-- FairPlay Configurations -->
        <add key="FairPlayASK" value="FairPlay App Secret Hex String"/> <!-- FairPlay App Secret Hex string -->
        <add key="FairPlayAppCertFile" value="fairplay.pfx"/> <!-- put FairPlay AppCert PFX file in "Data" folder -->
        <add key="FairPlayAppCertPassword" value="FairPlay AppCert PFX password string"/> <!-- FairPlay AppCert PFX Password string -->

    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>